.bg-container {
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, #fa7257, #fc63a7, #dd1264);
}
.heading {
  color: #ffffff;
  font-family: 'Roboto';
}
.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.show-hide-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 600px;
}

.show-hide-box {
  background-color: #fddddb;
  border-radius: 5px;
  padding: 20px;
  margin-top: 10px;
  font-weight: bold;
  font-family: 'Roboto';
}

.display-none-box {
  display: none;
}

.display-box {
}

.button {
  background-color: #ffffff;
  border-radius: 5px;
  color: #dd1264;
  border: none;
  padding: 10px;
}
